.macbook {
    Width: 1440px;
    Height: 900px;
    background: #9DBEBB;
    display: flex;
}

.invite-form {
    background-color: #BE0909;
    color: #FEFFFF;
    Width: 954px;
    Height: 594px;
    display: flex;
    max-width: 100%;
    margin-left: 308px;
    margin-top: 153px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    
}

.all-text {
    margin-left: 65px;
    margin-top: 64px;
}

.full_name {
    height: 72px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 20px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-bottom: 1px solid #9DBEBB; width: 400px;
    
    /* Hur gör jag boxarna osynliga men fungerande? */
}

#name {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing:border-box;
    border-bottom: 2px solid white;
    background-color: #BE0909;
    /* Hur får jag bort den svarta bordern?*/
}

.topic_email {
    height: 72px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin: 20px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-bottom: 1px solid #9DBEBB; width: 160px;
}

#email {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 22px;
    box-sizing: border-box;
    border-bottom: 2px solid white;
    background-color: #BE0909;
    /* Hur får jag bort den svarta bordern?*/
}


.topic_messade_regarding {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.topic_message {
    height: 21px;
    border-bottom: 1px solid #9DBEBB;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    padding-top: ;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    Size: 18px;
    Line-height: 21.09px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(254, 255, 255, 0.98);
    
}

#topic_message_regarding {
    width: 100%;
    padding: 12px 20px;
    margin-top: 
    box-sizing: border-box;
    border-bottom: 2px solid white;
    background-color: #BE0909;
    
}

#message_area {
    width: 400px;
    height: 72px;
    padding: 12px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    border-bottom: 2px solid white;
    background-color: #BE0909;
    /* Hur får jag bort den svarta bordern?*/
}

.btn-submit {
    width: 202px;
    height: 48px;
    margin-top: 97px;
    margin-left: 164px;
    background: #468189;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
}

.text_btn_submit {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    
}

.duck {
    Width: 663px;
    Height: 603px;
    position: absolute;
    margin-left: 585px;
    margin-top: 205px;
    border: 1px;
    border-color: black;
}

.rectangle {
    width: 345px;
    height: 594px;
    margin-top: 153px;
    margin-right: 243px;
}